extends layout

block content
    link(rel='stylesheet' href='/stylesheets/admin.css')
    nav
        a(href='#lookup-users') 사용자 관리
        a(href='/') 메인 페이지로
    section
        div#users
            h2#lookup-users 사용자 관리
            button#button-lookup 사용자 조회
            section#table-container
    script(type='module' src='/javascripts/admin.js')