extends layout

block content
    link(rel='stylesheet' href='/stylesheets/board.css')
    div.show-right
        button#menu menu
    section#board.board
    script(type='module' src='/javascripts/board.js')