extends layout

block content
    link(rel='stylesheet' href='/stylesheets/board.css')
    span#board_id=board_id
    section#board
        div.column
            h3 TODO
        div.column
            h3 DOING
        div.column
            h3 DONE
        div.column
            h3 +
    script(type='module' src='/javascripts/board.js')