doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    link(rel='stylesheet' href='./stylesheets/reset.css')
    link(rel='stylesheet' href='./stylesheets/layout.css')
    link(href='https://fonts.googleapis.com/css?family=Slabo+27px&display=swap' rel='stylesheet')
    title Web Todo Service
  body
    header
      a(href=link)=linktext
      span=user
      h1=title
    main
      block content
    footer
      | &copy; 2019 Copyright by 2ssue.