extends layout

block content
    form
        div
            input#userid.input(type='text' placeholder='아이디' required='')
        div
            input#password.input(type='password' placeholder='비밀번호' required='')
        div
            button(type='submit') 로그인