$default-size: 1rem;

nav{
    text-align: right;
    border-bottom: 1px solid lightgrey;
    margin: $default-size 0;
    padding-bottom: calc(#{$default-size} / 2);
    a{
        text-decoration: none;
        color: gray;
        margin-left: $default-size;
    }
    a:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}

h2{
    display: inline-block;
}

section{
    margin: $default-size;
    button, input{
        margin-left: calc(#{$default-size} / 2);
    }
}

table{
    width: -webkit-fill-available;
    border: 1px solid grey;
    margin-bottom: $default-size;
    th, td{
        border: 1px solid lightgrey;
        text-align: center;
        padding: calc(#{$default-size} / 2);
        font-size: calc(#{$default-size} * 1.2);
    }
    th{
        border-bottom: double grey
    }
}

.select{
    background-color: linen;
}

footer{
    position: absolute;
    bottom: 0;
}