$default-size: 1rem;

main{
    margin: $default-size;
}

.board{
    border-radius: 5px;
    display: flex;
    flex-flow: wrap;
    min-height: 80vh;
    margin-top: $default-size;
}

.column{
    background-color: whitesmoke;
    margin: $default-size $default-size 0 0;
    padding: $default-size;
    width: -webkit-fill-available;
    max-width: 20rem;
    min-width: 8rem;
    border-radius: 10px;
    border: 1px solid lightgrey;
    h3{
        display: inline;
    }
    .button{
        margin-left: 0.5rem;
    }
    .button:hover{
        color: black;
        cursor: pointer;
    }
}

.card-count{
    float: none;
    display: inline-block;
    width: 25px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: gray;
    border-radius: 20px;
    font-size: 0.8rem;
    color: white;
}

.add-card{
    margin: $default-size 0;
    textarea{
        resize: vertical;
        border-radius: 5px;
        width: -webkit-fill-available;
        height: calc(#{$default-size} * 3.5);
        margin-bottom: calc(#{$default-size} / 2);
        padding: calc(#{$default-size} / 2);
        font-family: inherit;
    }
    button{
        width: 48%;
        height: calc(#{$default-size} * 2);
    }
    button:last-child{
        float: right;
    }
}

.cards{
    margin-top: $default-size;
    height: 100%;
}

.card{
    background-color: white;
    margin-top: calc(#{$default-size} / 2);
    min-height: calc(#{$default-size} * 2);
    min-width: 6rem;
    padding: calc(#{$default-size} * 0.8);
    border-radius: 5px;
    box-shadow: 0 0 3px 1px lightgray;
    p{
        font-size: calc(#{$default-size} * 0.8);
        display: flex;
        span{
            font-size: inherit;
            margin-right: calc(#{$default-size} * 0.3);
        }
    }
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    > div{
       width: 30%; 
       margin: 15% auto;
       background-color: white;
       padding:  calc(#{$default-size} * 1.5);
       border-radius: 5px;
       p{
           margin-bottom: calc(#{$default-size} * 1.5);
       }
       button{
           padding: 0.3rem 0.7rem;
           margin-left: calc(#{$default-size} * 0.2);
       }
    }
}

.positive-button{
    background-color: #67c591;
    border: none;
}

.modal-on{
    overflow: hidden;
}

span{
    float: right;
}

.button{
    color: gray;          
}

.while-drag{
    cursor: -webkit-grab;
    opacity: 0.5;
}