$default-size: 1rem;

header{
    padding: $default-size;
    margin-bottom: $default-size;
    border-bottom: 1px solid;
    span, a{
        float: right;
        color: black;
        margin-left: $default-size;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}

button, input{
    font-family: inherit;
}

button, input[type="button"]{
    color: white;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 5px;
}

h2{
    font-size: calc(#{$default-size * 2});
}

footer{
    background-color: gray;
    color: floralwhite;
    font-size: calc(#{$default-size} * 0.8);
    width: -webkit-fill-available;
    padding: $default-size;
}

.show-right{
    display: flex;
    justify-content: flex-end;
}