$default-size: 1rem;

header{
    text-align: center;
    margin: $default-size;
    height: calc(#{$default-size} * 6);
    span, a{
        float: right;
        color: black;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    h1{
        clear: both;
    }
}

h1{
    font-size: calc(#{$default-size * 3});
}

h2{
    font-size: calc(#{$default-size * 2});
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    width: -webkit-fill-available;
    padding: $default-size;
}